/* Comic Code笔体 */
@font-face {
    font-family: 'Comic Code';
    src: url('./comic-code-regular.otf') format('opentype');
    font-weight: 200;
}

/* 文鼎签字笔体 */
@font-face {
    font-family: 'Droid Sans Fallback';
    src: url('./DroidSansFallback.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; /* 避免加载时的空白期 */
}

/* 霞鹜文楷 */
@font-face {
    font-family: 'XiaWuWenKai';
    src: url('./霞鹜文楷/LXGWWenKai-Light.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'XiaWuWenKai';
    src: url('./霞鹜文楷/LXGWWenKai-Regular.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'XiaWuWenKai';
    src: url('./霞鹜文楷/LXGWWenKai-Bold.ttf') format('truetype');
    font-weight: 300;
}
